body {
    margin: 0px;
    padding: 0px;

}
#header{
    background-color: white;
    opacity: 0.5;
    height: 130px;
    position: fixed;
    left: 0;
    right: 0;
}
#logo{
    float: left;
}
#mainnav{
    float: right;
}
.mainmenu{
    text-decoration: underline;
    color: #76B593;
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
}
#mainsection{
    height: 640px;
    background-image: url("../Html project/pics/back2.JPG");
    background-size: cover;
}
#banner{
    position: absolute;
    top: 45%;
    left: 36%;
    border: 12px;
    border-style: solid;
    border-color: white;
}
#h1banner{
    color: white;
    font-family: Arial;
    font-size: 50px;
    margin-bottom: 8px;
    margin-top: 8px;
}
#pbanner{
    font-family: Arial;
    font-size: 25px;
    color: white;
    font-weight: bold;
}
#footer{
    height: 160px;
    background-color: #0c5460;
    border-top-color: #76b593;
    border-top-style: solid;
}
#secsection{
    height: 400px;
    position: relative;
}
.secsectionchild{
    float: left;
    height: 200px;
    width: 200px;
    margin-left: 100px;
    margin-top: 100px;
    right: 0;
    position: relative;
}
.detailsp{
    color: #0c5460;
    font-size: 17px;
    font-family: Arial;
    font-weight: bold;
}
#sectionpic{
    margin-left: 40px;
    margin-right: 40px;
}
#secsectiontitle{
    color: #0c5460;
    font-size: 60px;
    font-family: Arial;
    font-weight: bold;
    position: absolute;
    margin-left: 320px;

}
.button{
    background-color: #76B593;
    border-style: solid;
    border: 1px;
    border-color: #76B593;
    font-family: Arial;
    font-size: 25px;
    color: white;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 40px;

}

